.card {
    max-width: 500px;
    min-height: 200px;
    max-height: 250px;
    margin-bottom: 50px;
    float: left;
    margin-right:20px;
}
.bolded { 
    font-weight: bold;
    margin-left: 15px;
 }