<div class="container">
    <h1 class="header">Register</h1>
    <div
            class="alert alert-success"
            role="alert"
            *ngIf="success"
    >Your Acccount has been successfully created. Check your email address to confirm your account.</div>
    <div class="row-cols-lg-auto">
        <div class="col-md-5">
            <form [formGroup]="registerForm">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input
                            matInput
                            type="text"
                            formControlName="firstname"
                            maxlength="30"
                            placeholder="John"
                            required
                    />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input
                            matInput
                            type="text"
                            formControlName="lastname"
                            maxlength="30"
                            placeholder="Doe"
                            required
                    />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                            matInput
                            type="email"
                            formControlName="email"
                            maxlength="30"
                            placeholder="johndoe@gmail.com"
                            required
                    />
                </mat-form-field>

                <div formGroupName="passwords">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                                matInput
                                type="password"
                                formControlName="password"
                                maxlength="30"
                                minlength="8"
                                required
                        />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input
                                matInput
                                type="password"
                                formControlName="confPassword"
                                maxlength="30"
                                minlength="8"
                                required
                        />
                    </mat-form-field>
                    <div *ngIf="password?.touched && passwords?.hasError('confPass')">
                        Your passwords do not match
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <button type="submit" mat-raised-button color="primary" (click)="submit()">
                Submit
            </button>
        </div>
    </div>
</div>