<p>
    <mat-toolbar color="primary">
        <a class="nav-link" [routerLink]="''"><mat-icon class="inline-icon">home</mat-icon>HouseKeeper</a>
        <span class="spacer"></span>
        <button mat-button *ngIf="household && token" [routerLink]="'tasks'"><mat-icon class="inline-icon">list</mat-icon>Tasks</button>
        <button mat-button *ngIf="!token" [routerLink]="'login'"><mat-icon class="inline-icon">lock_open</mat-icon>Login</button>
        <button mat-button *ngIf="!token" [routerLink]="'register'"><mat-icon class="inline-icon">person_add</mat-icon>Register</button>
        <button mat-button *ngIf="!household && token" (click)="openAdd()"><mat-icon class="inline-icon">add</mat-icon>Add</button>
        <button mat-button *ngIf="token" (click)="logout()"><mat-icon class="inline-icon">logout</mat-icon>Logout</button>
    </mat-toolbar>
</p>