<p>
    <mat-toolbar color="primary">
        <a class="nav-link" [routerLink]="''"><mat-icon class="inline-icon">home</mat-icon>HouseKeeper</a>
        <span class="spacer"></span>
        <button mat-button *ngIf="token" [routerLink]="'tasks'"><mat-icon class="inline-icon">list</mat-icon>Tasks</button>
        <button mat-button [routerLink]="'login'"><mat-icon class="inline-icon">lock_open</mat-icon>Login</button>
        <button mat-button [routerLink]="'register'"><mat-icon class="inline-icon">person_add</mat-icon>Register</button>
    </mat-toolbar>
</p>